$themeColor: #3bf0e5;
$themeColor-dark: #09777d;
$color-grey: #4d4d4d;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  background-color: white;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;

  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  div.logo {
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    margin-left: 1rem;
    img {
      width: 6vw;
    }
    h1 {
      font-size: 2rem;
    }
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          text-decoration: none;
          font-size: 1.5rem;
          color: $themeColor-dark;
          transition: all 0.3s ease;
          &:hover {
            color: $themeColor;
            border-bottom: 3px solid $themeColor;
          }
        }
      }
    }
  }
}

main {
  section.photo {
    // position: relative;
    width: 100%;
    min-height: 90vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../資源包1/Pictures/pexels-photo-416676.jpeg');
    background-size: cover;
    background-position: center;

    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // div.filter {
    //   background-color: rgba(0, 0, 0, 0.2);
    //   width: 100%;
    //   height: 100%;

    //   position: absolute;
    //   top: 0;
    //   z-index: -1;
    // }
    h3 {
      color: white;
      font-size: 2.5rem;
      text-align: center;
    }
    a.btn {
      border: none;
      border-radius: 1rem;
      background-color: $themeColor;
      color: #eee;
      text-decoration: none;

      margin-top: 2rem;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;

      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.05) translateY(-2px);
        box-shadow: 0 1rem 2rem rgba(#000, 0.2);
      }
    }
  }

  section.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;

    h3 {
      font-size: 1.5rem;
      text-align: center;
    }
    div.container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      div.box {
        flex: 1 1 300px;

        display: flex;
        flex-direction: column;

        padding: 1rem;
        margin: 0rem 2rem;

        align-items: center;
        text-align: center;
        div.img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            transition: all 0.2s ease;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        h4 {
          font-size: 1.5rem;
          margin-top: 1rem;
        }
        p {
          margin-top: 1rem;
        }
        button {
          background-color: $themeColor-dark;
          color: white;
          font-size: 1.25rem;
          padding: 0.5rem 1rem;
          margin-top: 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            color: $themeColor-dark;
            background-color: #fff;
            box-shadow: inset 0 0 0 2px $themeColor-dark;
          }
        }
      }
    }
  }
}

//Footer
footer {
  min-height: 30vh;
  background-color: rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  div.logo {
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    img {
      width: 5vw;
    }
  }
  ul {
    display: flex;
    list-style-type: none;
    margin: 2rem;
    li {
      margin: 0rem 1.5rem;
      a {
        color: black;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          color: $themeColor-dark;
        }
        img {
          width: 3.5vw;
        }
      }
    }
  }
}

//Popup
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(#000, 0.7);
  z-index: 3000;

  //一開始隱藏
  opacity: 0;
  visibility: hidden;

  &__content {
    position: relative;
    margin: 15rem auto;
    width: 60vw;
    background-image: linear-gradient(
        105deg,
        rgba(#fff, 0.9) 0%,
        rgba(#fff, 0.9) 50%,
        transparent 50%
      ),
      url(../資源包1/Pictures/jeremy-bishop-GIpGxe2_cT4-unsplash.jpg);
    background-size: cover;
    padding: 3rem;
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);

    transform: translateY(-50%) scale(0.25);
    opacity: 0;
    transition: all 0.4s 0.2s;
  }

  //Header
  &__header {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(315deg, $themeColor, $themeColor-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0.5rem 1rem 2rem rgba(#000, 0.2);
  }

  //Open popup
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content {
    opacity: 1;
    transform: scale(1);
  }

  //Close anchor
  &__close {
    &:link,
    &:visited {
      font-size: 1.5rem;
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      transition: color 0.2s;
    }

    &:hover {
      color: $themeColor;
    }
  }

  &__footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    a:link,
    a:visited {
      color: $themeColor-dark;
      text-decoration: none;
    }
    a:hover {
      border-bottom: 1px solid currentColor;
    }
  }
}

//Form
.form {
  width: 45%;
  &__label {
    color: $color-grey;
    display: block;
  }
  &__input {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    width: 90%;

    border: none;
    background-color: #fff;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;

    &:focus {
      outline: none;
      border-bottom: 3px solid $themeColor;
      &:invalid {
        border-bottom: 3px solid red;
      }
    }
  }
  &__btn {
    margin-top: 1rem;
    background-color: $themeColor-dark;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:focus {
      animation: pulsate 1s infinite;
    }
  }
}
//animation
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 2rem 4rem rgba(#000, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

//Media Query
@media screen and (max-width: 800px) {
  html {
    font-size: 90%;
  }
  .popup {
    &__content {
      background-image: linear-gradient(rgba(#fff, 0.7), rgba(#fff, 0.7)),
        url(../資源包1/Pictures/jeremy-bishop-GIpGxe2_cT4-unsplash.jpg);
    }

    &__close {
      &:link,
      &:visited {
        color: $themeColor-dark;
        transition: color 0.2s;
      }

      &:hover {
        color: $themeColor;
      }
    }
  }
  .form {
    width: 100%;
    &__label {
      width: 100%;
    }
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 80%;
  }
  header {
    div.logo {
      margin-left: 0.5rem;
      img {
        width: 15vw;
        height: 15vw;
      }
    }
  }
  footer {
    div.logo {
      img {
        width: 15vw;
        height: 15vw;
      }
      h1 {
        font-size: 1.5rem;
      }
    }
    ul li a img {
      width: 10vw;
      height: 10vw;
    }
  }

  .popup {
    &__header {
      color: $themeColor-dark;
      text-shadow: none;
    }
  }
}
